<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apiKey" value="http://124.248.173.10:9090/api/"/>
		<add key="shutDownTime" value="08:52"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>